/*.L-show {*/
    /*width: 1366px;*/
    /*margin: 0 auto;*/
/*}*/
/*L-header*/
.L-head {
    height: 1100px;
    border-top: 1px solid #c9c9c9;
    margin-top: 1px;
    background: url("../images/bg.jpg") rgba(0 ,0 ,0 ,0);
    background-size: contain;
}
.L-header {
    height: 1100px;
    width: 1349px;
    position: relative;
    margin: 0 auto;
}
.L-header .links {
    width: 150px;
    height: 16px;
    position: absolute;
    right: 26px;
    top: 33px;
}
.L-header .links li {
    float: left;
    height: 16px;
    margin-right: 16px;
}
.flowers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/flowers.png") rgba(0,0,0,0);
}
.myd {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 149px;
    height: 54px;
}
.qidai {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -28px;
    color: #6a6a6a;
}
.spr {
    width: 403px;
    height: 666px;
    background: url("../images/spr.png");
    position: absolute;
    top: 166px;
    left: 0;
}
.video a {
    display: block;
    width: 86px;
    height: 116px;
    background: url("../images/spr.png") no-repeat -513px 0;
    position: absolute;
    top: 455px;
    left: 461px;
}
.miji {
    width: 597px;
    height: 179px;
    position: absolute;
    left: 655px;
    top: 663px;
}
.tu img {
    width: 684px;
    height: 500px;
    position: absolute;
    top: 90px;
    left: 612px;
    transform: rotateZ(9deg);
}

.xie {
    width: 517px;
    height: 235px;
    border: 10px solid darkgoldenrod;
    position: absolute;
    left: 640px;
    top: 148px;
    transform: rotateZ(24deg);
}
.xie .toptu {
    border: 3px solid burlywood;
    width: 178px;
    height: 98px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 216px;
}
.xie .toptu li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.toptu li:first-child {
    display: block;
}
.xie .bottomtu {
    border: 3px solid burlywood;
    width: 177px;
    height: 125px;
    overflow: hidden;
    position: absolute;
    top: 104px;
    right: 216px;
}
.xie .bottomtu li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.xie .bottomtu li img {
    width: 177px;
    height: 125px;
}
.bottomtu li:first-child {
    display: block;
}
.xie .bigtu {
    border: 3px solid burlywood;
    width: 210px;
    height: 229px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.xie .bigtu li {
    position: absolute;
    display: none;
}
.xie .bigtu li img {
    width: 210px;
    height: 229px;
    position: absolute;
}

.bigtu li:first-child {
    display: block;
}
.smfy a,
.bhjx a,
.jhrw a,
.trxz a,
.gzmj a {
    display: block;
    height: 116px;
    width: 135px;
}
.gzmj a {
    background: url("../images/spr.png") no-repeat 0 -666px;
}
.gzmj a:hover {
    background: url("../images/spr.png") no-repeat 0 -787px;
}
.smfy a {
    background: url("../images/spr.png") no-repeat -137px -666px;
    position: absolute;
    top: 62px;
    left: 107px;
}
.smfy a:hover {
    background: url("../images/spr.png") no-repeat -137px -787px;
}
.bhjx a {
    background: url("../images/spr.png") no-repeat -273px -666px;
    position: absolute;
    top: 0;
    left: 212px;
}
.bhjx a:hover {
    background: url("../images/spr.png") no-repeat -273px -787px;
}
.jhrw a {
    background: url("../images/spr.png") no-repeat -409px -666px;
    position: absolute;
    top: 62px;
    left: 318px;
}
.jhrw a:hover {
    background: url("../images/spr.png") no-repeat -409px -787px;
}
.trxz a {
    background: url("../images/spr.png") no-repeat -545px -666px;
    position: absolute;
    top: 0;
    left: 461px;
}
.trxz a:hover {
    background: url("../images/spr.png") no-repeat -545px -787px;
}

/*L-footer*/
.L-footer {
    height: 92px;
    text-align: center;
    background-color: #1f2020;
    padding-top: 23px;
}
.L-footer>p>a {
    color: #aaa;
}
.L-footer>p {
    color: #aaa;
}
.L-footer>.bar {
    margin-top: 6px;
}
.L-footer>.links {
    margin-top: 6px;
}




