/*---------------------------------------------------------------------------------------*/
/* 顶部通栏 */
.topbar {
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
}

.topbarCenter {
    height: 40px;
    position: relative;
}

/*腾讯游戏logo位置*/
.tencentGameLogo {
    width: 220px;
    height: 40px;
    background: url(../images/jinglingtu.png) 0 -39px;
    position: absolute;
    left: 150px;
    z-index: 2;
}

.tencentGameLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

/*广告位置*/
.guangGao {
    position: absolute;
    left: 370px;
}

.guangGao .bigGg {
    position: absolute;
    top: 0;
    left: -220px;
    z-index: 1;
    display: none;
}

/*成长守护平台*/
.chengZhang {
    width: 94px;
    height: 100%;
    line-height: 40px;
    position: absolute;
    left: 900px;
}

.chengZhang a i {
    color: #464646;
}

.chengZhang a i:hover {
    color: red;
}

.chengZhang img {
    margin-right: 2px;
}

/*腾讯游戏排行榜*/
.paiHangBang {
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 1020px;
}

.paiHangBang:hover i.text {
    color: red;
}

.paiHangBang:hover i.pic {
    background: url(../images/jinglingtu.png) -170px -134px;
}

.paiHangBang .text {
    color: #464646;
    float: left;
}

.paiHangBang .pic {
    float: right;
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    margin-top: 15px;
    background: url(../images/jinglingtu.png) -150px -134px;
}

/*游戏排行榜弹窗部分*/
.paiHangBang .Leaderboard {
    width: 695px;
    height: 436px;
    background-color: #fff;
    border: 1px solid #cccccc;
    position: absolute;
    top: 38px;
    left: -596px;
    z-index: 3;
    display: none;
}

/*小三角形*/
.sanJiaoXing {
    font-size: 20px;
    color: #cccccc;
    position: absolute;
    top: -22px;
    left: 683px;
    z-index: 4;
}


/*新游排行榜*/
.Leaderboard .newGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
}

.Leaderboard h4+a:hover {
    color: red;
    text-decoration: underline;
}

.Leaderboard h4 {
    color: #555555;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.Leaderboard a.more {
    color: #707e91;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 21px;
    left: 180px;
}

.Leaderboard hr {
    color: #e5e5e5;
    display: block;
    width: 212px;
    position: absolute;
    top: 37px;
    left: 10px;
}

.Leaderboard i.paiMing {
    color: #999999;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 50px;
    left: 10px;
}

.Leaderboard i.game {
    color: #999999;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 50px;
    left: 43px;
}

/*游戏内容*/
.Leaderboard ul {
    width: 198px;
    height: 380px;
    position: absolute;
    top: 76px;
    left: 14px;
}

.Leaderboard ul li {
    width: 198px;
    height: 27px;
}

/*小盒子*/
.Leaderboard ul li .zoomOut {
    width: 198px;
    height: 27px;
    position: absolute;
}

/*高排名的num样式*/
.Leaderboard ul li i.numHeight {
    display: block;
    width: 14px;
    height: 14px;
    background-color: #ff4e00;
    font-size: 8px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    position: absolute;
    z-index: 1;
}

/*低排名的num样式*/
.Leaderboard ul li i.numLow {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #999999;
    font-size: 8px;
    color: #999999;
    text-align: center;
    line-height: 14px;
    position: absolute;
    z-index: 1;
}

.Leaderboard ul li i.gameName {
    font-size: 8px;
    color: #707e91;
    line-height: 8px;
    position: absolute;
    top: 3px;
    left: 29px;
}

/*大盒子*/
.Leaderboard ul li .zoom {
    width: 196px;
    height: 84px;
    border: 1px solid #cccccc;
    position: absolute;
    display: none;
    overflow: hidden;
}

.Leaderboard ul li .zoom img {
    position: absolute;
    top: 1px;
    left: 1px;
}

.Leaderboard ul li .zoom .botBar {
    width: 194px;
    height: 28px;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 55px;
    left: 1px;
}

.Leaderboard ul li .zoom .botBar .guanWang {
    color: #aaaaaa;
    line-height: 12px;
    position: absolute;
    top: 7px;
    left: 20px;
}

.Leaderboard ul li .zoom .botBar .guanWang:hover {
    color: red;
}

.Leaderboard ul li .zoom .botBar .downLoad {
    color: #aaaaaa;
    line-height: 12px;
    position: absolute;
    top: 7px;
    right: 20px;
}

.Leaderboard ul li .zoom .botBar .downLoad:hover {
    color: red;
}

/*分割线1*/
.line1 {
    width: 1px;
    height: 402px;
    background-color: #e2e2e2;
    position: absolute;
    top: 17px;
    left: 231px;
}

/*热门游戏排行榜*/
.Leaderboard .hotGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
    left: 232px;
}

/*分割线2*/
.line2 {
    width: 1px;
    height: 402px;
    background-color: #e2e2e2;
    position: absolute;
    top: 17px;
    left: 463px;
}

/*新品手游排行榜*/
.Leaderboard .newMobileGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
    left: 464px;
}
/*---------------------------------------------------------------------------------------*/



html,body {
    height: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
    color: #fff;
    font: 14px/1.5 arial,"\5FAE\8F6F\96C5\9ED1";
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top:0px;
    left: 0px;
    overflow: hidden;
    text-align: center;
}

.wrapper .parts {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.parts h2 {
    width: 100%;
    text-indent: -9999px;
    background-image: url("../images/h2.png");
    background-repeat: no-repeat;
}
.parts .gtit {
    text-align: center;
    width: 100%;
}
.wrapper .header {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    background-color: #403931;
}
.wrapper .header .loging {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 145px;
    height: 51px;
}
.wrapper .header .loging a {
    display: block;
    text-indent: -9999px;
    width: 145px;
    height: 51px;
    background-image: url("../images/f-spr.png") ;
    background-position: 0 -343px;
    background-repeat: no-repeat;
}
.wrapper  .content {
    width: 1000px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: left;
}
.wrapper .header .content h1 {
    position: absolute;
    top:50%;
    left:50%;
    width: 682px;
    height: 333px;
    margin: -250px 0 0 -341px;
    text-indent: -9999px;
    background: url("../images/f-spr.png") no-repeat 0 0;
}

.wrapper .header .cursorer {
    transform-origin: 50% 100%;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 15px;
    width: 85px;
    height: 193px;
    background-position: 0 100%;
    transform: scale(.6); 
    text-indent: -9999px;
    background: url("../images/f-spr.png") no-repeat 3px -403px ;

}

.main .nav {
    position: absolute;
    left: 50px;
    top: 130px;
    width: 40px;
    font-size: 16px;
    z-index: 100;
    text-align: center;
    transform-origin: 50% 0;
}

.nav .navs {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    border: 1px solid #414141;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.main .flt {
    position: fixed;
    top: 20px;
    left: 10px;
    margin: 0;
    width: auto;
}

.main .flt .navs {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color:#fff;
    border-color: #fff;
    float: left;
}
.main .nav .cur {
    background-color: #2fc3a3;
    border-color: #2fc3a3;
    color: #fff;
    cursor: default;
}


.nav .navs:hover {
    border-color: #2fc3a3;
    color: #2fc3a3;
}
.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    z-index: 9990;
}

.layerdt {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -400px;
    width: 800px;
    height: 450px;
    z-index: 9996;
}
.layerdt .lydt {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}
.layerdt .exitlayer {
    position: absolute;
    right: -55px;
    top: -10px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 44px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    z-index: 9997;
    margin: 0 0 0 -40%;
    content: "";
}
.layerdt video {
    width: 100%;
    height: 100%;
}
.footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #6b6b6b;
    background: #000;
    font-size: 12px;
    width: 90%;
    padding: 30px 5%;
    text-align: center;
    transition: all .2s ease-out 0s;
}
.footer p {
    height: 18px;
}
.footer a {
    color: #6b6b6b;
}
.fds {
    position: fixed;
    top: 50%;
    right: 30px;
    width: 130px;
    margin-top: -101px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    z-index: 100000;
}
.fds .ewmarea {
    display: block;
    margin: 0 auto;
}
.fds .ewmarea img {
    width: 130px;
    height: 130px;
}
.fds .ent {
    display: block;
    width: 100%;
    background-color: #2fc3a3;
}
.fds .ent a {
    display: block;
    line-height: 36px;
    color: #fff;
}
.fds .ots {
    display: block;
    width: 100%;
    background-color: #cfae69;;
}
.fds .ots a {
    display: block;
    color: #fff;
    line-height: 36px;
}

.wrapper .scene {
    display: none;/* 暂时隐藏 */
    background-color: #496f94;
    background-image: url("../images/bg-2.jpg");
}
.pa {
    position: absolute;
    left: 50%;
    top: 50%;
}
.scene h2 {
    height: 81px;
    width: 906px;
    margin: -350px 0 0 -453px;
    background-position: 50% 0;
    position: absolute;
    left: 50%;
    top: 50%;
}

.scene .gtit {
    margin: -260px 0 0 -50%;
}

.scene .loter {
    margin: -157px 0 0 -50%;
    width: 479px;
    height: 478px;
}
.scene .pic, .scene .pic img {
    width: 100%;
    height: 100%;
}

.loter .prev {
    background-position: 0 0;
    left: 160px;
}

.loter .arrow {
    position: absolute;
    bottom: 40px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
}
.loter .arrow, .parts .words, .united .tit, .profession .tit {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
}
.loter .next {
    background-position: -123px 0;
    right: 160px;
}
.fontkt {
    font-family: "kaiti";
}
.scene .words {
    padding: 20px 0 0;
    margin:  -140px 0 0 150px;
    background-position: 3px -1157px ;
}
.parts .words {
    width: 340px;
}
.parts .words .cp {
    display: block;
    position: relative;
    padding: 0 0 0 60px;
    font-size: 14px;
}
.parts .words .b{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}
.scene .tab-1 {
    margin: -105px 0 0 -94px;
}

.scene .tab {
    width: 150px;
    height: 150px;
    z-index: 1;
}

.tab .lx {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #87a1b9;
    margin: -1px 0 0 -1px;
    z-index: 1;
    transform: rotateZ(45deg);
}

.scene .tit {
    line-height: 140px;
    font-size: 30px;
    cursor: default;
}
.tab .tit {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5;
    color: #fff;
}

.tab .tit .eng {
    font-family: verdana;
    opacity: .3;
}

.scene .eng {
    display: block;
    line-height: 100%;
    margin: -50px 0 0;
    font-size: 10px;
    color: #202020;
    /* transform: scale(.8);
    transform-origin: 50% 0; */
}
.scene .tab-2 {
    margin: 2px 0 0 13px;
}

.scene .plvd {
    width: 190px;
    height: 190px;
    margin: 95px 0 0 133px;
    transform: rotateZ(45deg);
    z-index: 2;
}

.plvd {
    background: #2fc3a3;
    overflow: hidden;
}

.plvd .played {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.plvd .triangle:after {
    border-bottom: 3px solid #fff;
    bottom: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotateZ(-29deg);
    transform: rotateZ(-29deg);
}

.plvd .triangle:before, 
.plvd .triangle:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.plvd .triangle:before {
    border-top: 3px solid #fff;
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(29deg);
}

.plvd .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: 3px solid #fff;
}
.scene .triangle {
    width: 60px;
    height: 60px;
    margin: -40px 0 0 -23px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.figure {
    display: none;
    background-color: #e7e7e7;
    background-image: url("../images/bg-3.jpg");
}

.figure h2 {
    width: 338px;
    height: 82px;
    margin: -250px 0 0 -495px;
    background-position: 50% -90px;
}

.figure .gtit {
    margin: -160px 0 0 -490px;
    text-align: left;
    color: #292929;
}
.figure .words {
    padding: 20px 0 0;
    margin: -125px 0 0 -490px;
    color: #5f5f5f;
    background-position: -825px -1103px;
}

.figure .faces {
    margin: 70px 0 0 -485px;
    width: 316px;
}

.faces h3 {
    font-size: 26px;
    line-height: 130%;
    color: #292929;
    border-bottom: 1px solid #d5d5d5;
}
.facelists {
    position: relative;
    margin: 0 0 0 -20px;
}
.facelists .face {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    margin: 10px 0 0 20px;
    z-index: 1;
}

.facelists .face:hover {
    z-index: 2;
}

.facelists .face img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s ease 0s;
}

.figure .facemode {
    width: 533px;
    height: 712px;
    margin: -345px 0 0 -35px;
    background: url("../images/face.png") no-repeat 50% 50%;
}

.figure .plvd {
    width: 96px;
    height: 96px;
    margin: 180px 0 0 -40px;
    border-radius: 50%;
}
.figure .triangle {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -15px;
}
.facelists .face:hover img {
    width: 116px;
    height: 116px;
    top: -26px;
    left: -26px;
}

.plot {
    display: none;/* 暂时隐藏 */
    background-color: #000;
    background-image: url("../images/bg-4.jpg");
}

.lp .plvd {
    margin: -200px 0 0 -61px;
}
.plot .plvd {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: 3px solid #b5b5b5;
    background-color: transparent;
}

.plot .triangle {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -15px;
}

.plot .triangle,
.plot .triangle:before, 
.plot .triangle:after {
    border-color: #b5b5b5;
}

.lp h2 {
    margin: -40px 0 0 -169px;
    background-position: 50% -196px;
}

.plot h2 {
    width: 338px;
    height: 56px;
}

.lp .ginfo {
    margin: 45px 0 0 -145px;
}

.plot .ginfo {
    width: 338px;
    color: #b7bbba;
}

.plot .inner {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.rp h2 {
    margin: -200px 0 0 -169px;
    background-position: 50% -273px;
}

.rp .ginfo {
    margin: -110px 0 0 -115px;
}

.rp .plvd {
    margin: 50px 0 0 -61px;
}

.fighting {
    display: none;
    background-color: #33363d;
    background-image: url(../images/bg-5.jpg);
}

.fighting .line {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 154px 0 0;
    width: 100%;
    height: 0;
    border-top: 1px dotted #7a8084;
    overflow: hidden;
}

.fighting h2 {
    height: 78px;
    width: 906px;
    margin: -350px 0 0 -453px;
    background-position: 50% -377px;
}

.fighting .gtit {
    margin: -260px 0 0 -50%;
}
.fighting .bigvideo {
    width: 520px;
    height: 288px;
    margin: -210px 0 0 -260px;
}

.fighting .bigvideo a, 
.fighting .bigvideo img {
    display: block;
    width: 100%;
    height: 100%;
}

.fighting .FBs {
    width: 96%;
    margin: 145px 0 0 -48%;
}

.FBs .FB {
    position: relative;
    float: left;
    width: 16%;
    text-align: center;
}

.FBs .ac, .FBs .cc {
    display: block;
}

.FBs .cc {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto 10px;
    background: rgba(255,255,255,.5);
    z-index: 2;
}

.FBs .fbname {
    font-size: 16px;
    color: #fff;
}

.FBs .ac .before {
    background: rgba(47,195,163,1);
    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
    position: relative;
    left: 50px;
    top:0px;
}


.FBs p {
    display: none;
    color: #999e9d;
    font-size: 12px;
    padding: 5%;
    text-align: left;
    text-indent: 1em;
    background: url("../images/ic.png") no-repeat 8px 11px;
}

.FBs .cur p {
    display: block;
}

.united {
    display: none;
    background-color: #f3f4f8;
    background-image: url("../images/");
}

.united h2 {
    width: 340px;
    height: 83px;
    margin: -320px 0 0 -495px;
    background-position: 50% -514px;
}

.united .gtit {
    margin: -230px 0 0 -490px;
    text-align: left;
    color: #292929;
}

.united .words {
    padding: 20px 0 0;
    margin: -195px 0 0 -490px;
    color: #5f5f5f;
    background-position: -825px -1103px;
}

.united .utd {
    width: 620px;
    height: 907px;
    margin: -464px 0 0 -120px;
    background: url("../images/bg-role.png") no-repeat 50% 100%;
}

.united .role {
    top: 0;
    margin: -1px 0 0 -318px;
    width: 839px;
    height: 100%;
}

.united .role img {
    width: 100%;
    height: 100%;
}

.united .tangm {
    margin: 19px 0 0 -500px;
}

.united .tab {
    width: 120px;
    height: 120px;
}

.united .tab:hover .lx, 
.united .cur .lx {
    border-color: #2fc3a3;
    background-color: #2fc3a3;
}

.tab .lx {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #87a1b9;
    margin: -1px 0 0 -1px;
    z-index: 1;
    transform: rotateZ(45deg);
}

.tangm .tit {
    background-position: 2px -655px;
}

.tianx .tit {
    background-position: -84px -738px;
}

.gaib .tit {
    background-position: -164px -648px;
}

.zhenw .tit {
    background-position: -170px -825px;
}

.shenw .tit {
    background-position: -245px -737px;
}

.wud .tit {
    background-position: 0 -817px;
}

.taib .tit {
    background-position: -329px -821px;
}

.cur.gaib .tit, .gaib:hover .tit {
    background-position: -628px -648px;
}
.cur.tangm .tit, .tangm:hover .tit {
    background-position: -462px -655px;
}

.cur.tianx .tit, .tianx:hover .tit {
    background-position: -548px -738px;
}
.cur.shenw .tit, .shenw:hover .tit {
    background-position: -709px -737px;
}

.cur.zhenw .tit, .zhenw:hover .tit {
    background-position: -634px -825px;
}

.cur.taib .tit, .taib:hover .tit {
    background-position: -793px -821px;
}

.cur.wud .tit, .wud:hover .tit {
    background-position: -464px -817px;
}

.united .tit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -38px;
    width: 75px;
    height: 80px;
    z-index: 5;
    text-align: center;
    text-indent: -9999px;
}

.united .tianx {
    margin: 107px 0 0 -412px;
}


.united .gaib {
    margin: 19px 0 0 -324px;
}


.united .shenw {
    margin: 107px 0 0 -236px;
}

.united .zhenw {
    margin: 195px 0 0 -324px;
}

.united .taib {
    margin: 195px 0 0 -148px;
}


.united .wud {
    margin: 195px 0 0 -500px;
}


.united .plvd {
    width: 96px;
    height: 96px;
    margin: 265px 0 0 10px;
    border-radius: 50%;
    z-index: 10;
}

.united .triangle {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -15px;
}

.group {
    display: none;
    background-color: #08090e;
    background-image: url("../images/bg-7.jpg");
}

.group h2 {
    height: 76px;
    width: 906px;
    margin: -350px 0 0 -453px;
    background-position: 50% -658px;
}

.group .gtit {
    margin: -260px 0 0 -50%;
}

.group .bosses {
    width: 1064px;
    height: 515px;
    margin: -197px 0 0 -522px;
}

.quwy {
    width: 274px;
}
.tangqf {
    width: 266px;
}

.yezq {
    width: 254px;
}

.liyt {
    width: 270px;
}
.bosses .bn {
    position: absolute;
    bottom: -144px;
    opacity: 0;
    left: 50%;
    width: 144px;
    height: 144px;
    margin: 0 0 0 -72px;
    text-indent: -9999px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.bosses .boss:hover, .bosses .bn {
    background-image: url("../images/utd.png");
    background-repeat: no-repeat;
}


.bosses .boss {
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
}

.quwy .bn {
    background-position: -46px -556px;
}

.tangqf .bn {
    background-position: -315px -556px;
}

.yezq .bn {
    background-position: -593px -556px;
}

.liyt .bn {
    background-position: -862px -556px;
}

.bosses .boss:hover, 
.bosses .bn {
    background-image: url("../images/utd.png");
    background-repeat: no-repeat;
}

.bosses .boss:hover .bn {
    bottom: 0;
    opacity: 1;
}
.quwy:hover {
    background-position: 0 0;
}

.tangqf:hover {
    background-position: -274px 0;
}
.yezq:hover {
    background-position: -540px 0;
}
.liyt:hover {
    background-position: -794px 0;
}

.profession {
    display: none;
    background-color: #070707;
    background-image: url("../images/bg-8.jpg");
}

.profession h2 {
    height: 76px;
    width: 906px;
    margin: -350px 0 0 -453px;
    background-position: 50% 100%;
}

.profession .gtit {
    margin: -260px 0 0 -50%;
}

.profession .pic {
    width: 359px;
    height: 724px;
    margin: -220px 0 0 -100px;
}

.profession .pic img {
    width: 100%;
    height: 100%;
}

.profession .jinfo {
    margin: -20px 0 0 200px;
    width: 250px;
}

.job h3 {
    font-size: 26px;
    color: #2fc3a3;
}

.job p {
    color: #c6c6c5;
}

.job .more {
    display: block;
    color: #2fc3a3;
    width: 80px;
    margin: 5px 0 0;
}

.profession .tab:hover .lx, .profession .cur .lx {
    border-color: #2fc3a3;
    background-color: #2fc3a3;
}

.profession .tab {
    width: 100px;
    height: 100px;
}

.profession .shashou {
    margin: -194px 0 0 -458px;
}

.tab .lx {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #87a1b9;
    margin: -1px 0 0 -1px;
    z-index: 1;
    transform: rotateZ(45deg);
}
.cur.shashou .tit, 
.shashou:hover .tit {
    background-position: 10px -103px;
}

.profession .tit {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -33px;
    width: 65px;
    height: 70px;
    text-indent: -9999px;
}
.profession .wenshi {
    margin: -120px 0 0 -384px;
}

.wenshi .tit {
    background-position: -521px -171px;
}

.profession .bukuai {
    margin: -46px 0 0 -310px;
}

.bukuai .tit {
    background-position: -591px -241px;
}

.profession .yueling {
    margin: 28px 0 0 -236px;
}

.yueling .tit {
    background-position: -656px -305px;
}

.profession .youxia {
    margin: -46px 0 0 -458px;
}

.youxia .tit {
    background-position: -455px -241px;
}

.profession .biaoshi {
    margin: 28px 0 0 -384px;
}

.biaoshi .tit {
    background-position: -521px -305px;
}

.profession .liehu {
    margin: 102px 0 0 -310px;
}

.liehu .tit {
    background-position: -591px -371px;
}

.profession .shangjia {
    margin: 102px 0 0 -458px;
}

.shangjia .tit {
    background-position: -457px -371px;
}

.profession .shijing {
    margin: 176px 0 0 -384px;
}

.shijing .tit {
    background-position: -526px -439px;
}

.profession .xuanyan {
    margin: 250px 0 0 -310px;
}

.xuanyan .tit {
    background-position: -589px -506px;
}

.cur.wenshi .tit, .wenshi:hover .tit {
    background-position: -56px -171px;
}
.cur.wud .tit, .wud:hover .tit {
    background-position: -464px -817px;
}

.cur.bukuai .tit, .bukuai:hover .tit {
    background-position: -126px -241px;
}

.cur.yueling .tit, .yueling:hover .tit {
    background-position: -191px -305px;
}

.cur.youxia .tit, .youxia:hover .tit {
    background-position: 10px -241px;
}

.cur.biaoshi .tit, .biaoshi:hover .tit {
    background-position: -56px -305px;
}

.cur.liehu .tit, .liehu:hover .tit {
    background-position: -126px -371px;
}

.cur.shashou .tit, .shashou:hover .tit {
    background-position: 10px -103px;
}

.shashou .tit {
    background-position: -455px -103px;
}
