body,
div,
span,
a,
p,
img,
input,
ul,
li,
h1,
h2,
h3,
h4,
i,
em,
del,
strong,
ins {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    border: none;
    vertical-align: middle;
}
input {
    border: none;
    outline: none;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4 {
    font-weight: normal;
}
i {
    font-style: normal;
}
body {
    font: 12px/100% "΢���ź�";
}
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}


.w {
    width: 1280px;
    margin: 0 auto;
}
.b {
    width: 1180px;
    margin: 0 auto;
}

.top {
    height: 160px;
    width: 100%;
    overflow: hidden;
    z-index: 30;
}
/*.fixed {*/
    /*position: fixed;*/
    /*top: 0;*/
/*}*/
.mid {
    height: 99px;
    background-color: #0e0e0f;
    line-height: 99px;
    overflow: hidden;
    
}
.mid .jcp {
    display: block;
    width: 141px;
    height: 71px;
    background: url("../images/ico-comm.png") -180px 0 no-repeat;
    margin-top: 10px;
    float: left;
    text-indent: -9999px;
}
.mid .logo {
    width: 177px;
    float: left;
    margin-left: 40px;
}
.mid .logo a{
    width: auto;
    height: auto;
    float: left;


}
.mid .logo img {
    /*width: 100px;*/
    height:50px;
    width: 170px;
}
.mid .cartbox {
    /*display: block;*/
    float: right;
    margin-top: 40px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;

}
.mid .cartbox .i-cart {
    margin-right: 7px;
    float: left;
    width: 24px;
    height: 24px;
    background: url("../images/ico-comm.png") no-repeat 0 -64px;
}
.mid .loginbar {
    float: right;
    margin-right: 45px;
    margin-top: 40px;
    line-height: 24px;
}
.mid .loginbar .i-person {
    float: left;
    width: 24px;
    height: 24px;
    background: url("../images/ico-comm.png") 0 -275px;
}
.mid .header_search {
    width: 242px;
    height: 40px;
    float: right;
    background-color: #242424;
    margin-right: 64px;
    margin-top: 40px;
    border-radius: 20px 20px 20px 20px;
    line-height: 24px;
    overflow: hidden;
}
.mid .header_search .i-seach {
    width: 22px;
    height: 22px;
    float: left;
    background: url("../images/ico-comm.png") -35px -227px ;
    margin-top: 10px;
    margin-left: 10px;
}
.mid .header_search input {
    width: 208px;
    height: 100%;
    float: right;
    background-color: #242424;
    color: #ffffff;
}
.top-head {
    height: 60px;
    background-color: #0e0e0f;

}
.top-head ul {
    margin-left: 38px;

    height: 100%;
    float: left;

}
.top-head ul li {
    float: left;
    /*margin-right: 65px;*/
    padding:0 20px 0;
    height: 57px;
    width: 90px;
    text-align: center;
}
.top-head ul li a {
    width: 129px;
    color:#a6a6a6;
    font-size: 16px;
    line-height: 60px;
}
.li-border {
   border-bottom: 4px solid yellow ;
    background-color: #373019;
    opacity: 0.6;
}
.all-class {
    /*height: 100%;*/
    float: right;
    color: #ffffff;
    font-size: 16px;
    line-height: 60px;
}
.all-class .i-arrbot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/ico-comm.png") -95px 0;
}
.banner {
    width: 2000px;
    margin: 0 auto;


}
.slidbann img {
    width: 1990px;
    height: 365px;
    margin: 0 auto;
}

.banner .slidbann {
    margin: 0 auto ;
    width: 2000px;
    height: 365px;
    position: relative;
    overflow: hidden;

}
.banner .slidbann ul {
    position: absolute;

    width: 1000000px;


}
.banner .slidbann ul li {
    float: left;
}



.ol {
    position: absolute;
    top: 300px;
    left: 50%;

    /*margin-left: -75px;*/

}
.ol li {
    float: left;
    width: 40px;
    height: 8px;
    background-color: red;
    margin-right: 10px;
}





/*.target {*/
    /*display: none;*/
/*}*/

.index-main {
    margin-top: -30px;
    background-color: #ffffff;
    /*height: 200px;*/
    position:relative ;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 50px;
}
.index-main .index-tit {
    height: 53px;
    /*background-color: red;*/

    padding: 50px 50px 0;
}
.index-main .index-tit h3 {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    margin-right: 26px;

}
.index-main .index-tit .gengduo {
    float: right;
    line-height:30px;
}
.index-main .index-tit .gengduo .i-more {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/ico-comm.png") -40px 0;
    vertical-align: middle;
    margin-top: -6px;
}
/*8888888888888888888888888888888888888888888888*/
.index-glist li{
    transition: all 0.5s;
}
.index-glist li:hover{
    /*mso-border-shadow: ;*/
    transform: translate(0,-6px);
    box-shadow:0px 0px 10px #000;
}
/*888888888888888888888888888888888888888888888*/
.adbox {
    width: 1180px;
    margin: 0 auto;
    height: 240px;
    background-color: red;
}
.index-glist {
    width: 1200px;
    margin: 0 auto;
    /*background-color: red;*/
    /*height: 200px;*/
    margin-top: 20px;

}
.ol li:first-child {
    background-color: yellow;
}

.index-glist ul {
    width: 100%;
    height: 356px;
    margin-left: 10px;
}
.index-glist li {
    width: 280px;
    height: 356px;
    border:1px solid #eeeeee;
    float:left;
    text-align: center;
    margin-right: 17px;
}
.index-glist li .good-info  {
    margin-top: 18px;
    font-size: 14px;

    
}
.index-glist li img {
    width: 280px;
    height: 269px;

}
.index-glist .price {
    color: #f7545f;
    font-size: 16px;
    line-height: 25px;
}
.tag {
    background-color: #f5f5f5;
    padding-bottom: 40px;
}

.foot{
    position: relative;
    height: 232px;
    background-color: #000;
    overflow: hidden;

}
.foot .footer-djc {
    position: absolute;
    top: 50px;
    left: 81px;
}
.foot .footer-info {
    width: 395px;
    height: 136px;
    /*background-color: red;*/
    margin: 50px 0 0 352px;
    float: left;
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
}
.foot .footer-info li {
    float: left;
    padding: 0 38px;
    line-height: 45px;


}
.foot .footer-info li a {
    display: block;
    color: #ffffff;

}
.foot .footer-info li .in {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/comm-top.png") 0 -61px ;
    margin-right: 9px;
    vertical-align: middle;
}
.foot .footer-info li .ic2 {
    background-position: -90px -61px;
}
.foot .footer-info li .ic3 {
    background-position: -30px -61px;
}
.foot .footer-info li .ic4 {
    background-position: -60px -61px;
}
.foot .footer-info li .ic5 {
    background-position: -120px -61px;
}

.footer-code img{
    width: 100px;
    height: 100px;
}
.footer-code {
    float: left;
    padding: 50px 0 20px 33px;
    color: #777777;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.footer-code li {
    float: left;
    padding: 0 29px;
}
.footer-ied {
    border-top: 1px solid #777777;
    height: 129px;
    background-color: #000;
    text-align: center;
    padding-top: 37px;
    color:#777777;
    line-height: 24px;
}
.footer-ied a {
    color: #777777;
    padding: 0 3px;
}
.footer-ied p a:hover {
    color:#dfdfdf;
}

/*------------------------------------------------------------------------------------*/
/* 顶部通栏 */
.topbar {
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
}

.topbarCenter {
    height: 40px;
    position: relative;
}

/*腾讯游戏logo位置*/
.tencentGameLogo {
    width: 220px;
    height: 40px;
    background: url(../images/jinglingtu.png) 0 -39px;
    position: absolute;
    left: 150px;
    z-index: 2;
}

.tencentGameLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

/*广告位置*/
.guangGao {
    position: absolute;
    left: 370px;
}

.guangGao .bigGg {
    position: absolute;
    top: 0;
    left: -220px;
    z-index: 1;
    display: none;
}

/*成长守护平台*/
.chengZhang {
    width: 94px;
    height: 100%;
    line-height: 40px;
    position: absolute;
    left: 900px;
}

.chengZhang a i {
    color: #464646;
}

.chengZhang a i:hover {
    color: red;
}

.chengZhang img {
    margin-right: 2px;
}

/*腾讯游戏排行榜*/
.paiHangBang {
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 1020px;
}

.paiHangBang:hover i.text {
    color: red;
}

.paiHangBang:hover i.pic {
    background: url(../images/jinglingtu.png) -170px -134px;
}

.paiHangBang .text {
    color: #464646;
    float: left;
}

.paiHangBang .pic {
    float: right;
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    margin-top: 15px;
    background: url(../images/jinglingtu.png) -150px -134px;
}

/*游戏排行榜弹窗部分*/
.paiHangBang .Leaderboard {
    width: 695px;
    height: 436px;
    background-color: #fff;
    border: 1px solid #cccccc;
    position: absolute;
    top: 38px;
    left: -596px;
    z-index: 3;
    display: none;
}

/*小三角形*/
.sanJiaoXing {
    font-size: 20px;
    color: #cccccc;
    position: absolute;
    top: -22px;
    left: 683px;
    z-index: 4;
}


/*新游排行榜*/
.Leaderboard .newGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
}

.Leaderboard h4+a:hover {
    color: red;
    text-decoration: underline;
}

.Leaderboard h4 {
    color: #555555;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.Leaderboard a.more {
    color: #707e91;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 21px;
    left: 180px;
}

.Leaderboard hr {
    color: #e5e5e5;
    display: block;
    width: 212px;
    position: absolute;
    top: 37px;
    left: 10px;
}

.Leaderboard i.paiMing {
    color: #999999;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 50px;
    left: 10px;
}

.Leaderboard i.game {
    color: #999999;
    height: 12px;
    line-height: 12px;
    position: absolute;
    top: 50px;
    left: 43px;
}

/*游戏内容*/
.Leaderboard ul {
    width: 198px;
    height: 380px;
    position: absolute;
    top: 76px;
    left: 14px;
}

.Leaderboard ul li {
    width: 198px;
    height: 27px;
}

/*小盒子*/
.Leaderboard ul li .zoomOut {
    width: 198px;
    height: 27px;
    position: absolute;
}

/*高排名的num样式*/
.Leaderboard ul li i.numHeight {
    display: block;
    width: 14px;
    height: 14px;
    background-color: #ff4e00;
    font-size: 8px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    position: absolute;
    z-index: 1;
}

/*低排名的num样式*/
.Leaderboard ul li i.numLow {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #999999;
    font-size: 8px;
    color: #999999;
    text-align: center;
    line-height: 14px;
    position: absolute;
    z-index: 1;
}

.Leaderboard ul li i.gameName {
    font-size: 8px;
    color: #707e91;
    line-height: 8px;
    position: absolute;
    top: 3px;
    left: 29px;
}

/*大盒子*/
.Leaderboard ul li .zoom {
    width: 196px;
    height: 84px;
    border: 1px solid #cccccc;
    position: absolute;
    display: none;
    overflow: hidden;
}

.Leaderboard ul li .zoom img {
    position: absolute;
    top: 1px;
    left: 1px;
}

.Leaderboard ul li .zoom .botBar {
    width: 194px;
    height: 28px;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 55px;
    left: 1px;
}

.Leaderboard ul li .zoom .botBar .guanWang {
    color: #aaaaaa;
    line-height: 12px;
    position: absolute;
    top: 7px;
    left: 20px;
}

.Leaderboard ul li .zoom .botBar .guanWang:hover {
    color: red;
}

.Leaderboard ul li .zoom .botBar .downLoad {
    color: #aaaaaa;
    line-height: 12px;
    position: absolute;
    top: 7px;
    right: 20px;
}

.Leaderboard ul li .zoom .botBar .downLoad:hover {
    color: red;
}

/*分割线1*/
.line1 {
    width: 1px;
    height: 402px;
    background-color: #e2e2e2;
    position: absolute;
    top: 17px;
    left: 231px;
}

/*热门游戏排行榜*/
.Leaderboard .hotGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
    left: 232px;
}

/*分割线2*/
.line2 {
    width: 1px;
    height: 402px;
    background-color: #e2e2e2;
    position: absolute;
    top: 17px;
    left: 463px;
}

/*新品手游排行榜*/
.Leaderboard .newMobileGame {
    width: 231px;
    height: 436px;
    background-color: #fff;
    position: absolute;
    left: 464px;
}
/*------------------------------------------------------------------------------------*/